# osx file
.DS_Store

# build folder
build/
example_bin/

# documentation folder
documentation/

# ignore my own shell script
*.sh
.gdbinit

# eclipse project settings
Debug
.cproject
.settings
.mxproject
.osx.project
.project

# ignore my document file
*.docx

#
.vscode

# pycharm project
tool/code_generator/.idea
tool/code_generator/venv/
tool/code_generator/__pycache__/
