# osx file
.DS_Store

# build folder
build/

# documentation folder
documentation/

# ignore my own shell script
*.sh
.gdbinit

# eclipse project settings
Debug
.cproject
.settings
.mxproject
.osx.project
.project

# ignore my document file
*.docx
