# osx file
.DS_Store

# build folder
build/
example_bin/
compile_commands.json

.ycm_extra_conf.py

# documentation folder
documentation/

# ignore my own shell script
*.sh
.gdbinit

# eclipse project settings
Debug
.cproject
.settings
.mxproject
.osx.project
.project

# ignore my document file
*.docx

#
.vscode

# pycharm project
tool/*/.idea
tool/*/venv/
tool/*/__pycache__/
